body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background-image: url("../images/dust_scratches.png");
}

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: solid 2px #aaa;
  padding: 15px;
  margin: 20px;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: solid 2px #aaa;
  padding: 15px;
  text-align: center;
}

h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: #fff;
  background-color: #4aaaa5;
  width: auto;
  text-align: center;
}

a {
  color: #aaa;
}

li a:hover {
  background-color: #4aaaa5;
  color: #fff;
}

#button {
  border: solid 2px #aaa;
}

#submit-button {
  background-color: #4aaaa5;
  color: #fff;
}

p {
  margin: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
}

footer {
  text-align: center;
  background-color: #aaa;
  border-top: solid 8px #4aaaa5;
  padding: 35px 0;
  color: #fff;
  margin-top: 30px;
}

#mainSection {
  background-color: #fff;
  padding: 0 20px 20px 20px;
  border: solid 2px #ccc;
  margin-top: 30px;
}

#aside {
  background-color: #fff;
  padding: 0 20px 20px 20px;
  border: solid #ccc 2px;
  margin-top: 30px;
}

.imgSize {
  max-width: 70px;
  padding: 10px;
  margin-left: 25px;
}

.navbar-custom {
  background-color: #fff;
}

.navbar-brand {
  background-color: #4aaaa5;
  color: #fff;
  padding: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  margin: -10px 0;
}

.navbar-brand:hover {
  color: #fff;
}